.coffee-tip {
	position: fixed;
	top: 20vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	background: $blue;
	padding: 1em;
	margin: 0 auto;
	border-radius: 0.5rem;
	min-width: 20rem;
	max-width: $screen-xs-min;
	max-height: 70vh;
	overflow-y: auto;
	box-shadow: 0 0 2em rgba(0,0,0,0.5);

	p {
		font-size: 0.875rem;
		font-family: $heading-font;
		color: #FFF;
		margin: 0;
	}
	.coffee-tip-close {
		width: 2rem;
		height: 2rem;
		position: relative;
		float: right;
		&>svg {
			width: 2rem;
			height: 2rem;
			fill: #FFF;
			cursor: pointer;
			&:hover {
				fill: #333;
			}
		}
	}
	.coffee-tip-icon {
		fill: #FFF;
		width: 7.5rem;
		display: block;
		margin: 0 auto;
		padding-left: 2rem;
	}
}

