.coffee-tip {
	position: fixed;
	top: 20vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	background: $blue;
	font-size: $font-size-small;
	text-align: center;
	padding: 0.5em;
	margin: 0 auto;
	border-radius: 0.5em;
	max-width: $screen-xs-min;
	box-shadow: 0 0 0.5em;
	
	p {
		font-family: $font-family-heading;
		color: #FFF;
	}
	.coffee-tip-close {
		width: 2em;
		height: 2em;
		position: relative;
		float: right;
		&>svg {
			width: 2em;
			height: 2em;
			fill: #FFF;
			cursor: pointer;
			&:hover {
				fill: #333;
			}
		}
	}
	.coffee-tip-icon {
		fill: #FFF;
		width: 5em;
	}
}

