form {
  max-width: 100%;
  text-align: center;
  margin: 1em auto;

  input, textarea {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: #222;
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 0.5em;
    display: block;
    width: 100%;
    margin-bottom: 1em;
    box-shadow: 0 1px 1px rgba(black, 0.2) inset;
    resize: none;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:focus {
      box-shadow: 0 2px 3px rgba(black, 0.2) inset;
    }
    &::placeholder {
      color: rgba($red, 0.6);
      font-style: italic;
    }
  }


  #input-submit {
    color: white;
    background: $blue;
    cursor: pointer;
    font-family: $font-family-heading;

    &:hover {
      box-shadow: 0 1px 1px 1px rgba(#aaa, 0.6);
      background: tint($blue, 20);
    }
  }

  textarea {
    height: 11.5em;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
  margin-top: 1em;
}
.right { width: 50%; }
.left { margin-right: 2%; }


@media (max-width: $screen-xs-min) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}


/* Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
