#wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

footer {
	flex: 1;
  background: $red;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1em 0.5em -1em #222 inset;
  .row {
    display: block;
  }

  svg {
    fill: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
    width: 2em;
    height: 2em;

    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      transform: scale(1.2);
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }

}
