header {

  .bar {
  background: $red;
  height: 1vh;
  }

  h1, h2, h3, h4 {
    font-family: $font-family-heading;
    color: white;
  }

  svg.icon-menu {
    fill: #333;
    margin-left: $font-size-small;
    width: $font-size-3x;
    height: $font-size-3x;
    cursor: pointer;

    &:hover {
      fill: black;
    }

    @media (min-width: $screen-sm-min) {
      width: $font-size-2x;
      height: $font-size-2x;
    }
  }
}
