/*
 * Colors
 * ========================================================================== */


// http://www.colourlovers.com/palette/694737/Thought_Provoking
$yellow:                #ECD078;
$orange:                #D95B43;
$red:                   #C02942;
$purple:                #542437;
$blue:                  #53777A;

$copy-gray:							#333333;
$copy-gray-tint:				#403234; // http://meyerweb.com/eric/tools/color-blend/#333333:C02942:10:hex
$heading-gray:					#222222;
$heading-gray-tint:			#302325; // http://meyerweb.com/eric/tools/color-blend/#222222:C02942:10:hex

/*
 * Typography
 * ========================================================================== */

$copy-font:      				'Neuton', serif;
$heading-font:   				'Montserrat', sans-serif;


/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min:         480px;  /* Extra small screen / phone */
$screen-sm-min:         768px;  /* Small screen / tablet */
$screen-md-min:         992px;  /* Medium screen / desktop */
$screen-lg-min:         1200px; /* Large screen / wide desktop */

/*
 * Animations
 * ========================================================================== */

$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
